@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #222;
}
ul, ol{
    list-style: none;
}
img{
    vertical-align: top;
    border: 0;
}
a{
    text-decoration: none;
    color: rgb(218, 218, 218);
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  transform: none;
}

.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e3e6f0;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #e3e6f0;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .modal-sm {
    max-width: 300px;
  }
}

#wrap{
    width: 100%;
    min-width: 1580px;
    position: relative;
    background-color: #c7c7c7;
}
#header{
    z-index: 1000;
    width: 100%;
    height: 115px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(184, 184, 184, 0.5);
}
.headerIn{
    margin: 0 auto;
    width: 1560px;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerIn .logo{
    margin-top: 20px;
    width: 160px;
}
.headerIn .logo a img{
    width: 100%;
}
.gnb{
    margin-top: 20px;
    margin-right: 200px;
}
.gnb ul{
    margin-right: 130px;
    display: flex;
}
.gnb li{
    margin-right: 50px;
}
.gnb li a{
    font-size: 15px;
}
.util{
    margin-top: 20px;
}
.util ul{
    display: flex;
}
.util li a{
    font-size: 15px;
}
.util li::after{
    margin: 0 12px;
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: rgb(184, 184, 184);
}
.util li:last-child::after{
    display: none;
}


#container{
    padding-bottom: 150px;
}
.row1{
    margin-bottom: 135px;
    position: relative;
    overflow: hidden;
    height: 115px;
}
.row1Img{
    display: block;
    width: 1920px;
    height: 115px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    background-color: #2f3847;
}




.row2{
    width: 460px;
    margin: 0 auto;
}
.joinTitle{
    color: #C57F1E;
    font-weight: 900;
}

div{
    display: block;
}

.joinRow{
    width: 100%;
    margin-bottom: 20px;
}

.joinTab{
    margin: 19px 0 8px 0;
    font-size: 14px;
    font-weight: 700;
}

.box{
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #ededed;
    border-radius: 10px;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    /* vertical-align: top; */
}

.uInput{
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    font-size: 15px;
    box-sizing: border-box;
    background-color: #c7c7c7;
}


.sel{
    width: 100%;
    height: 29px;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: #c7c7c7;
}

.sel{
    background-image: url(../img/sel_arr_2x.gif);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: 20px 8px;
}

.idBox .box{
    width: 69%;
}

.emailWrap div{
    margin-bottom: 10px;
}


.idBox, .emailBox{
    display: flex;
}

.idLeft, .ebLeft{
    width: 69%;
}

.idRight, .ebRight, .cancelBtn{
    display: inline-block;
    width: 29%;
    padding-left: 10px;
    height: 51px;
}

#overlapCheckBtn, #emailCheck, .btn{
    width: 100%;
    height: 51px;
    padding: 13px 0;
    font-size: 15px;
    border: 1px solid #dadada;
    border-radius: 10px;
}

.btnArea{
    display: flex;
    padding-top: 20px;
}

.joinBtn{
	width: 460px;
	display: flex;
	justify-content: space-between;
}
.joinBtn .btn{
	width: 48%;
}







#footer{
    color: #9d948d;
    width: 100%;
    background-color: #2f3847;
    padding-bottom: 20px;
}
#footer a{
    color: #9d948d;
}
#footer dt{
    color: #C57F1E;
    margin: 10px 0 6px 0;
}
.footerIn{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.fTop{
    margin-bottom: 30px;
    padding: 65px 0;
    border-bottom: 1px solid rgb(175, 159, 159);
    display: flex;
    justify-content: space-between;
}
.fTop .fLogo{
    margin-right: 65px;
    width: 100px;
}
.fTop .fLogo img{
    width: 100px;
}
.fCs dt{
    margin-bottom: 28px;
}
.fCs dd{
    font-size: 12px;
}
.fCs .fcIns{
    margin-top: 19px;
}


.fMenu{
    display: flex;
    justify-content: space-between;
}
.fMenu dt{
    margin-right: 60px;
}
.fMenu dd a{
    font-size: 12px;
}
.fMenu dd:last-child{
    display: flex;
    justify-content: space-between;
}
.fMenu dd div:last-child{
    margin-left: 50px;
}


.fBottom{
    color: #9d948d;
}
.fBottom span{
    margin: 0 5px;
    display: inline-block;
    width: 1px;
    height: 8px;
    background-color: #9d948d;
}
.fBottom span a{
    color: #9d948d;
}
.top{
    width: 35px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(24, 24, 24);
    text-align: center;
    padding-top: 10px;
    position: absolute;
    bottom: 80px;
    right: 0;    
}
.top a{
    color: #9d948d;
}