<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ReplyMapper">		<!-- namespace="페이지명.인터페이스명" -->
	
	<!-- 댓글쓰기(insert)		Create 	-->
	<insert id="insert">
		insert into mb_reply (bno, reply, id)	
		values(#{bno}, #{reply}, #{id})
	</insert>
	
	
	<!-- 댓글상세페이지(select)	Read 	-->
	<select id="read" resultType="org.zerock.domain.ReplyVO">	<!-- select는 select 된 결과를 담을 그릇(resultType)이 필요 -->
		select * from mb_reply where rno = #{rno}
	</select>
	<!-- 댓글삭제(delete)		Delete 	-->
	
	<delete id="delete">
		delete from mb_reply where rno = #{rno}
	</delete>
	<!-- 댓글수정(update)		Update 	-->
	<update id="update">
		update mb_reply
		set reply = #{reply},
		updateDate = now()
		where rno = #{rno}
	</update>
	
	<select id="getListWithPaging" resultType="org.zerock.domain.ReplyVO">
		select rno, bno, reply, id, replydate, updatedate
		from (
				select @rownum:=@rownum+1 as rownum, b.*
		        from (
					select @rownum:=0
		            ) as tmp, mb_reply as b
		            where bno = #{bno}
		            order by rno desc
			) as boardList
			<![CDATA[
		    where rownum > (#{cri.pageNum} - 1) * #{cri.amount} and rownum <= #{cri.pageNum} * #{cri.amount}
		    ]]>
	</select>
	
	<select id="getCountByBno" resultType="int">
		select count(rno) from mb_reply where bno = #{bno}
	</select>

</mapper>